.sprite0, .sprite-0 {
	/* blank */
	width: 50px;
	height: 50px;
	background: url(./sprites.png) -1050px 0 black;
}
.sprite1, .sprite-1 {
	/* grass */
	width: 46px;
	height: 23px;
	background: url(./sprites.png) -8px -1806px;
}
.sprite2, .sprite-2 {
	/* red design */
	width: 22px;
	height: 22px;
	background: url(./sprites.png) -99px -1853px;
}
.sprite3, .sprite-3 {
	/* water1 */
	width: 31px;
	height: 16px;
	background: url(./sprites.png) -1140px -975px;
}
.sprite4, .sprite-4 {
	/* water 2 */
	width: 32px;
	height: 16px;
	background: url(./sprites.png) -1141px -1000px;
}
.sprite5, .sprite-5 {
	/* tree */
	width: 31px;
	height: 45px;
	background: url(./sprites.png) -845px -612px;
}
.sprite6, .sprite-6 {
	/* grass */
	width: 48px;
	height: 50px;
	background: url(./sprites.png) -547px -1332px;
}
.sprite7, .sprite-7 {
	/* road */
	width: 60px;
	height: 107px;
	background: url(./sprites.png) -152px -1803px;
}
.sprite8, .sprite-8 {
	/* inside cave */
	width: 246px;
	height: 178px;
	background: url(./sprites.png) -793px -17px;
}
.sprite9, .sprite-9 {
	/* pokemart */
	width: 64px;
	height: 62px;
	background: url(./sprites.png) -434px -196px;
}
.sprite10, .sprite-10 {
	/* pokemon center */
	width: 80px;
	height: 70px;
	background: url(./sprites.png) -505px -190px;
}
.sprite11, .sprite-11 {
	/* fountain */
	width: 42px;
	height: 46px;
	background: url(./sprites.png) -726px -132px;
}
.sprite12, .sprite-12 {
	/* blue house */
	width: 47px;
	height: 64px;
	background: url(./sprites.png) -907px -206px;
}
.sprite13, .sprite-13 {
	/* beige house */
	width: 49px;
	height: 70px;
	background: url(./sprites.png) -997px -307px;
}
.sprite14, .sprite-14 {
	/* snorlax */
	width: 24px;
	height: 24px;
	background: url(./sprites.png) -274px -925px;
}
.sprite15, .sprite-15 {
	/* sudowoodo tree */
	width: 20px;
	height: 23px;
	background: url(./sprites.png) -313px -900px;
}
.sprite16, .sprite-16 {
	/* bench or mushroom idk */
	width: 13px;
	height: 14px;
	background: url(./sprites.png) -348px -914px;
}
.sprite17, .sprite-17 {
	/* flowers */
	width: 16px;
	height: 15px;
	background: url(./sprites.png) -62px -959px;
}
.sprite18, .sprite-18 {
	/* flowers */
	width: 16px;
	height: 16px;
	background: url(./sprites.png) -208px -959px;
}
.sprite19, .sprite-19 {
	/* tree */
	width: 16px;
	height: 30px;
	background: url(./sprites.png) -350px -994px;
}
.sprite20, .sprite-20 {
	/* tree */
	width: 32px;
	height: 36px;
	background: url(./sprites.png) -369px -989px;
}
.sprite21, .sprite-21 {
	/* flowers */
	width: 159px;
	height: 49px;
	background: url(./sprites.png) -184px -980px;
}
.sprite22, .sprite-22 {
	/* fountain */
	width: 47px;
	height: 45px;
	background: url(./sprites.png) -23px -1114px;
}
.sprite23, .sprite-23 {
	/* water lake border */
	width: 87px;
	height: 79px;
	background: url(./sprites.png) -1562px -1477px;
}
.sprite24, .sprite-24 {
	/* ground hole crater */
	width: 54px;
	height: 45px;
	background: url(./sprites.png) -536px -598px;
}
.sprite25, .sprite-25 {
	/* seviper serpent ladder */
	width: 79px;
	height: 209px;
	background: url(./sprites.png) -1216px -383px;
}
.sprite26, .sprite-26 {
	/* sand background */
	width: 25px;
	height: 21px;
	background: url(./sprites.png) -897px -346px;
}
.sprite27, .sprite-27 {
	/* sand background */
	width: 17px;
	height: 22px;
	background: url(./sprites.png) -851px -344px;
}
.sprite28, .sprite-28 {
	/* rock */
	width: 13px;
	height: 11px;
	background: url(./sprites.png) -940px -305px;
}
.sprite29, .sprite-29 {
	/* sand background */
	width: 30px;
	height: 22px;
	background: url(./sprites.png) -1303px -65px;
}
.sprite30, .sprite-30 {
	/* rock sand background block */
	width: 16px;
	height: 17px;
	background: url(./sprites.png) -1448px -77px;
}
.sprite31, .sprite-31 {
	/* sand rock ground background */
	width: 17px;
	height: 16px;
	background: url(./sprites.png) -1471px -78px;
}
.sprite32, .sprite-32 {
	/* wild grass */
	width: 16px;
	height: 19px;
	background: url(./sprites.png) -563px -1312px;
}
.sprite33, .sprite-33 {
	/* cave */
	width: 238px;
	height: 177px;
	background: url(./sprites.png) -6px -423px;
}
.sprite34, .sprite-34 {
	/* plant bins */
	width: 98px;
	height: 105px;
	background: url(./sprites.png) -1314px -375px;
}
.sprite35, .sprite-35 {
	/* cave end */
	width: 49px;
	height: 55px;
	background: url(./sprites.png) -111px -1424px;
}
.sprite36, .sprite-36 {
	/* cave1 */
	width: 34px;
	height: 27px;
	background: url(./sprites.png) -325px -1446px;
}
.sprite37, .sprite-37 {
	/* cut */
	width: 23px;
	height: 16px;
	background: url(./sprites.png) -508px -1339px;
}
.sprite38, .sprite-38 {
	/* mew */
	width: 19px;
	height: 35px;
	background: url(./sprites.png) -199px -892px;
}
.sprite39, .sprite-39 {
	/* water */
	width: 39px;
	height: 32px;
	background: url(./sprites.png) -1193px -976px;
}
.sprite40, .sprite-40 {
	/* beach umb 1 */
	width: 42px;
	height: 42px;
	background: url(./sprites.png) -968px -812px;
}
.sprite41, .sprite-41 {
	/* beach umb 2 */
	width: 41px;
	height: 43px;
	background: url(./sprites.png) -972px -771px;
}
.sprite42, .sprite-42 {
	/* fence1 */
	width: 24px;
	height: 30px;
	background: url(./sprites.png) -418px -413px;
}
.sprite43, .sprite-43 {
	/* fence2 */
	width: 45px;
	height: 21px;
	background: url(./sprites.png) -378px -428px;
}
.sprite44, .sprite-44 {
	/* fence3 */
	width: 17px;
	height: 21px;
	background: url(./sprites.png) -362px -426px;
}
.sprite45, .sprite-45 {
	/* flowerpower */
	width: 20px;
	height: 27px;
	background: url(./sprites.png) -59px -951px;
}
.sprite46, .sprite-46 {
	/* bridge */
	width: 46px;
	height: 164px;
	background: url(./sprites.png) -1792px -909px;
}
.sprite47, .sprite-47 {
	/* bridge2 */
	width: 156px;
	height: 45px;
	background: url(./sprites.png) -1415px -950px;
}
.sprite48, .sprite-48 {
	/* whatever */
	width: 132px;
	height: 93px;
	background: url(./sprites.png) -1321px -510px;
}